<template>
  <div>
    <modal :show.sync="modals.createApplication">
      <template slot="header">
        <h4 class="modal-title">Create an application</h4>
      </template>

      <div>
        <div class="form-group">
          <label>Application name*:</label>
          <base-input placeholder="Name" v-model="app.name"></base-input>
        </div>
        <div class="form-group">
          <label>Application description*:</label>
          <base-input placeholder="Description" v-model="app.description"></base-input>
        </div>
        <div class="form-group">
          <label>Domains*:</label>
          <div class="row">
            <div class="col-md-10">
              <base-input placeholder="example.com" v-model="app.domain"></base-input>
            </div>
            <div class="col-md-2">
              <base-button type="success" icon="ni ni-fat-add" @click="addDomainToCreate"></base-button>
            </div>
          </div>
          <div v-for="(domain, index) in app.domains" class="card card-body">
            <div class="row">
              <div class="col-md-10">{{index + 1}}. {{domain}}</div>
              <div class="col-md-2 text-right">
                <base-button type="danger" size="sm" icon="ni ni-fat-delete" @click="removeDomainFromCreate(index)"></base-button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Salt for authentication application users*:</label>
          <base-input placeholder="th35ggg43fdgh2" v-model="app.salt"></base-input>
        </div>
      </div>
      <template slot="footer">
        <base-button type="secondary" @click="modals.createApplication = false">Close</base-button>
        <base-button type="primary" @click="create()">Create</base-button>
      </template>
    </modal>

    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <base-button type="primary" @click="modals.createApplication = true">Add an application</base-button>

    </base-header>

    <div class="container-fluid mt--7">
      <div class="row" v-if="data.length !== 0">
        <div class="col">
          <div class="card shadow">

              <table class="table align-items-center table-flush">
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Domains</th>
                  <th>Salt</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr v-for="(row, index) in data">
                  <td class="budget">
                    {{row.name}}
                  </td>
                  <td>
                    {{row.description}}
                  </td>
                  <td>
                    <badge class="badge-dot mr-4" :type="success">
                      <i :class="`bg-success`"></i>
                      <span class="status text-success">Active</span>
                    </badge>
                  </td>
                  <td>
                    {{row.domains}}
                  </td>
                  <td>
                    {{row.salt}}
                  </td>
                  <td>
                    {{row.createdAt}}
                  </td>

                  <td>
                    {{row.updatedAt}}
                  </td>

                  <td class="text-right">
                    <base-dropdown class="dropdown" position="right">
                      <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <template>
                        <a class="dropdown-item pointer" @click="$router.push({name: 'application', params:{id: row.id}})">Open</a>
                        <a class="dropdown-item pointer" @click="$router.push({name: 'users', params: {id: row.id}})">Users</a>
                        <a class="dropdown-item text-danger pointer" @click="askDelete(index, row.id)">Delete</a>
                      </template>
                    </base-dropdown>
                  </td>
                </tr>
              </table>


            <div class="card-footer d-flex justify-content-end">
              <base-pagination :total="11" :perPage="11"></base-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Error from '../mixins/error'
  import dateFormatter from '../mixins/date'
  export default {
    name: 'applications',
    mixins:[Error, dateFormatter],
    data() {
      return {
        app: {
          name: "",
          description: "",
          domain: "",
          domains: [],
          managers: [],
          salt: ""
        },
        modals: {
          createApplication: false
        },
        data: [],
        total: 0,
        perPage: 10,
      }
    },
    mounted () {},
    methods: {
      addDomainToCreate() {
        if (this.app.domain.trim().length === 0) {
          return
        }
        this.app.domains.push(this.app.domain)
        this.app.domain = ""
      },
      removeDomainFromCreate(index) {
        this.app.domains.splice(index, 1)
      },
      create() {
        const self = this
        this.$http
          .post('admin/applications', self.app,
            {
              headers: {'Authorization': "Bearer " + localStorage.token}
            }
          )
          .then(function (response) {
            let data = response.data.result
            self.data.push({
              id: data.id,
              name: data.name,
              description: data.description,
              secret: data.secret,
              domains: data.domains.join(', '),
              createdAt: self.format(data.createdAt),
              updatedAt: self.format(data.updatedAt)
            })
            self.modals.createApplication = false

            self.app.name = ''
            self.app.description = ''
            self.app.domain = ''
            self.app.domains = []
            self.app.managers = []
            self.app.salt = ''
          })
          .catch(function (error) {
            self.notify(error)
          });
      },
      askDelete(index, id) {
        this.$swal({
          title: 'Are you sure?',
          text: 'You want to delete this application?',
          type: 'question',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, delete it!'
          }
        ).then((result) => {
          if (result.value) {
            const self = this
            this.$http.delete('admin/applications/' + id, {
              headers: {
                'Authorization': "Bearer " + localStorage.token,
              }
            }).then(function (response) {
                if (response.data.result) {
                  self.data.splice(index, 1)
                }
            })
              .catch(function (error) {
                self.$notify({
                  verticalAlign: 'top',
                  horizontalAlign: 'center',
                  type: 'danger',
                  message: error.response ? error.response.data : 'some error'
                });
              });
          }
        });
      },
    },
    beforeMount() {
      const self = this
      this.$http
        .get('admin/applications?perpage=' + self.perPage + '&page=1', {
          headers: {
            'Authorization': "Bearer " + localStorage.token,
          }
        })
        .then(function (response) {
          let data = response.data.result
          self.total = response.data.total
          for (let i in data) {
            self.data.push({
              id: data[i].id,
              name: data[i].name,
              description: data[i].description,
              secret: data[i].secret,
              domains: data[i].domains.join(', '),
              createdAt: self.format(data[i].createdAt),
              updatedAt: self.format(data[i].updatedAt),
              salt: data[i].salt,
            })
          }
        })
        .catch(function (error) {
          console.log(error)
          self.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: error.response ? error.response.data : 'some error'
          });
        });
    }
  };
</script>
<style>
  .pointer{
    cursor: pointer;
  }
</style>
