<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <base-button type="primary" icon="ni ni-bold-left" @click="$router.push({name:'applications'})">Move to applications</base-button>
            <base-button type="primary" icon="ni ni-single-02" @click="$router.push({name:'users', params: {id: id}})">Open users</base-button>

        </base-header>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-md-6">
                    <card>
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Application ID: <span>{{id}}</span></h4>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 pr-md-1">
                                <base-input label="Name:"
                                            placeholder="Name"
                                            v-model="name">
                                </base-input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 pr-md-1">
                                <label><b>Description:</b></label>
                                <textarea class="form-control form-control-ta" rows="3" v-model="description" placeholder="description"></textarea>
                            </div>
                        </div>
                        <label><b>Secret:</b></label>
                        <div class="row">
                            <div class="col-md-9">
                                <base-input
                                            disabled
                                            v-model="secret">
                                </base-input>
                            </div>
                           <div class="col-md-3 text-right">
                                <base-button type="success" @click="copy">Copy</base-button>
                                <base-button type="warning" icon="" @click="update(true)">Refresh</base-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <base-input label="Salt:"
                                            v-model="salt">
                                </base-input>
                            </div>
                        </div>

                        <label><b>Domains: </b> <span class="text-success pointer" @click="showNewDomainForm=true">+ Add domain</span></label>

                        <div class="row" v-if="showNewDomainForm">
                            <div class="col-md-9">
                                <base-input placeholder="example.com" v-model="domain"></base-input>
                            </div>
                            <div class="col-md-3 text-right">
                                <base-button type="success" @click="addDomainToCreate">Add</base-button>
                                <base-button type="warning" @click="showNewDomainForm=false">Cancel</base-button>
                            </div>
                        </div>

                        <table class="table align-items-center table-bordered table-sm" v-if="domains.length !== 0">
                            <tr>
                                <th>Domain</th>
                                <th>Action</th>
                            </tr>
                            <tr v-for="domain in domains">
                                <td class="budget">
                                    {{domain}}
                                </td>
                                <td class="text-danger pointer">
                                    <span @click="askDelete">Delete</span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <base-input label="Created at:"
                                            disabled
                                            v-model="createdAt">
                                </base-input>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <base-input label="Updated at:"
                                            disabled
                                            v-model="updatedAt">
                                </base-input>
                            </div>
                        </div>
                        <base-button native-type="submit" size="md" @click="update" type="primary">
                            Save changes
                        </base-button>
                    </card>
                </div>
                <div class="col-md-6">
                    <card>
                        <stats-card title="Users"
                                    type="gradient-green"
                                    sub-title="50"
                                    icon="ni ni-single-02"
                                    class="mb-4 mb-xl-0">

                            <template slot="footer">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </template>
                        </stats-card>
                        <stats-card title="Total traffic"
                                    type="gradient-red"
                                    sub-title="350,897"
                                    icon="ni ni-active-40"
                                    class="mb-4 mb-xl-0">

                            <template slot="footer">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </template>
                        </stats-card>
                    </card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import Error from '../mixins/error'
  import dateFormatter from '../mixins/date'
  export default {
    mixins:[Error, dateFormatter],
    data() {
      return {
        id: '',
        name: '',
        description: '',
        secret: '',
        salt: '',
        domains: [],
        managers: [],
        createdAt: '',
        updatedAt: '',
        domain: '',
        showNewDomainForm: false
      }
    },
    methods: {
      addDomainToCreate() {
        if (this.domain.trim().length === 0) {
          return
        }
        this.domains.push(this.domain)
        this.domain = ""
        this.showNewDomainForm = false
      },
      update(refreshSecret) {
        let self = this
        let toUpdate = {
          name: self.name,
          description: self.description,
          domains: self.domains,
          salt: self.salt,
        };

        if (refreshSecret) {
          toUpdate.secret = 'new-secret'
        }

        this.$http
          .put('admin/applications/' + this.$route.params.id, toUpdate,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.token,
              }
            }
          ).then(function (response) {
              let data = response.data.result

              self.id = data.id
              self.name = data.name
              self.description = data.description
              self.secret = data.secret
              self.salt = data.salt
              self.domains = data.domains
              self.managers = data.managers
              self.createdAt = self.format(data.createdAt)
              self.updatedAt = self.format(data.updatedAt)
            })
          .catch(function (error) {
            self.$notify({
              verticalAlign: 'top',
              horizontalAlign: 'center',
              type: 'danger',
              message: error.response ? error.response.data : 'some error'
            });
          });
      },
      askDelete(index) {
        this.$swal({
              title: 'Are you sure?',
              text: 'You want to delete the access from this domain?',
              type: 'question',
          }
        ).then((result) => {
          if (result.value) {
            this.domains.splice(index, 1)
          }
        });
      },
    },
    beforeMount() {
      let self = this
      this.$http
        .get('admin/applications/' + this.$route.params.id, {
          headers: {
            'Authorization': "Bearer " + localStorage.token,
          }
        })
        .then(function (response) {
          let data = response.data.result

          self.id = data.id
          self.name = data.name
          self.description = data.description
          self.secret = data.secret
          self.salt = data.salt
          self.domains = data.domains
          self.managers = data.managers
          self.createdAt = self.format(data.createdAt)
          self.updatedAt = self.format(data.updatedAt)
        })
        .catch(function (error) {
          self.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: error.response ? error.response.data : 'some error'
          });
        });
    }
  }
</script>
<style>
    .pointer{
        cursor: pointer;
    }
</style>

