<template>
    <div>
        <base-header class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
            <!-- Mask -->
            <span class="mask bg-gradient-success opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{model.name}}</h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                    </div>
                </div>
            </div>
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="img/default-profile.png" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <base-button size="sm" type="info" class="mr-4">Connect</base-button>
                                <base-button size="sm" type="default" class="float-right">Message</base-button>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Friends</span>
                                        </div>
                                        <div>
                                            <span class="heading">10</span>
                                            <span class="description">Photos</span>
                                        </div>
                                        <div>
                                            <span class="heading">89</span>
                                            <span class="description">Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    {{model.name}} {{model.second}}
                                </h3>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Solution Manager
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account: {{model.id}}</h3>
                                </div>
                                <div class="col-4 text-right">

                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Username"
                                                        placeholder="Username"
                                                        input-classes="form-control-alternative"
                                                        v-model="model.name"
                                            />
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Email address"
                                                        placeholder="mail@example.com"
                                                        input-classes="form-control-alternative"
                                                        v-model="model.email"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Last name"
                                                        placeholder="Last name"
                                                        input-classes="form-control-alternative"
                                                        v-model="model.second"
                                            />
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Phone"
                                                        placeholder="Phone"
                                                        input-classes="form-control-alternative"
                                                        v-model="model.phone"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Created at"
                                                        disabled
                                                        input-classes="form-control-alternative"
                                                        v-model="model.createdAt"
                                            />
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input label="Updated at"
                                                        disabled
                                                        input-classes="form-control-alternative"
                                                        v-model="model.updatedAt"
                                            />
                                        </div>
                                    </div>
                                    <hr>
                                    <base-button @click="update" type="primary">Save changes</base-button>
                                </div>

                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import dateFormatter from '../mixins/date'
  export default {
    name: 'manager',
    mixins:[dateFormatter],
    data() {
      return {
        model: {
          id: "",
          name: "",
          second: "",
          email: "",
          phone: "",
          createdAt: "",
          updatedAt: "",
          avatar: "img/default-profile.png",
          isConfirmed: false,
        }
      }
    },
    beforeMount(){
      const self = this
      this.$http
        .get('admin/managers', {
          headers: {'Authorization': "Bearer " + localStorage.token}
        })
        .then(function (response) {
          let data = response.data.result
          localStorage.profile = data
          self.model.id = data.id
          self.model.name = data.name
          self.model.second = data.second
          self.model.email = data.email
          self.model.isConfirmed = data.isConfirmed
          self.model.phone = data.phone
          self.model.createdAt = self.format(data.createdAt)
          self.model.updatedAt = self.format(data.updatedAt)
        })
        .catch(function (error) {
          console.log(error)
          self.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: error.response ? error.response.data : 'some error'
          });
        });
    },
    methods: {
      update() {
        const self = this
        this.$http
          .put('admin/managers', {
            name: self.model.name,
            second: self.model.second,
            email: self.model.email,
            phone: self.model.phone,
          },{
            headers: {'Authorization': "Bearer " + localStorage.token}
          })
          .then(function (response) {
            let data = response.data.result
            self.model.name = data.name
            self.model.second = data.second
            self.model.email = data.email
            self.model.phone = data.phone
            self.model.createdAt = self.format(data.createdAt)
            self.model.updatedAt = self.format(data.updatedAt)
            self.$notify({
              verticalAlign: 'top',
              horizontalAlign: 'center',
              type: 'success',
              message: 'changes saved'
            });
          })
          .catch(function (error) {
            self.$notify({
              verticalAlign: 'top',
              horizontalAlign: 'center',
              type: 'danger',
              message: error.response ? error.response.data : 'some error'
            });
          });
      }
    }
  };
</script>
<style></style>
