<template>
  <div>
    <modal :show.sync="modals.createUser">
      <template slot="header">
        <h4 class="modal-title">Create user</h4>
      </template>

      <div>
        <div class="form-group">
          <label><b>UID*:</b></label>
          <base-input placeholder="User identifier in your system" v-model="user.uid"></base-input>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label><b>User first name*:</b></label>
              <base-input placeholder="Name" v-model="user.name"></base-input>
            </div>
            <div class="col-md-6">
              <label><b>User last name*:</b></label>
              <base-input placeholder="Last name" v-model="user.second"></base-input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><b>Email*:</b></label>
          <base-input placeholder="example@mail.com" v-model="user.email"></base-input>
        </div>
        <div class="form-group">
          <label><b>Phone:</b></label>
          <base-input placeholder="56543221" v-model="user.phone"></base-input>
        </div>
        <div class="form-group  text-center">
          <label><b>Gender*:</b></label>
          <div class="row">
            <div class="col-md-6">
              <base-radio name="male" class="mb-3" v-model="user.gender">
                Male
              </base-radio>
            </div>
            <div class="col-md-6">
              <base-radio name="female" class="mb-3" v-model="user.gender">
                Female
              </base-radio>
            </div>
          </div>
        </div>
      </div>

      <template slot="footer">
        <base-button type="secondary" @click="modals.createUser = false">Close</base-button>
        <base-button type="primary" @click="create()">Create</base-button>
      </template>
    </modal>

    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <base-button type="primary" @click="modals.createUser = true">Add new user</base-button>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row" v-if="data.length !== 0">
        <div class="col">
          <div class="card shadow">
              <table class="table align-items-center table-flush">
                <tr>
                  <th>ID</th>
                  <th>UID</th>
                  <th>Name</th>
                  <th>Second</th>
                  <th>Gender</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr v-for="(row, index) in data">
                  <td class="budget">{{row.id}}</td>
                  <td>{{row.uid}}</td>
                  <td>{{row.name}}</td>
                  <td> {{row.second}}</td>
                  <td>{{row.gender}}</td>
                  <td>{{row.createdAt}}</td>
                  <td>{{row.updatedAt}}</td>
                  <td class="text-right">
                    <base-dropdown class="dropdown" position="right">
                      <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <template>
                        <a class="dropdown-item pointer" @click="$router.push({name: 'user', params:{id: row.id, appId: row.applicationID}})">Open</a>
                        <a class="dropdown-item text-danger pointer" @click="askDelete(index, row.id)">Delete</a>
                      </template>
                    </base-dropdown>
                  </td>
                </tr>
              </table>
            <div class="card-footer d-flex justify-content-end">
              <base-pagination :total="11" :perPage="11"></base-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Error from '../mixins/error'
  import dateFormatter from '../mixins/date'
  export default {
    name: 'users',
    mixins:[Error, dateFormatter],
    data() {
      return {
        options: [
          { text: 'Male', value: 'male' },
          { text: 'Female', value: 'female' }
        ],
        user: {
          id: "",
          uid: "",
          name: "",
          second: "",
          gender: "",
          email: "",
          phone: "",
          blackList: [],
        },
        modals: {
          createUser: false
        },
        data: [],
        total: 0,
        perPage: 10,
      }
    },
    methods: {
      create() {
        let self = this
        if (!self.user.uid) {
          self.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: 'type UID'
          });
          return;
        }

        this.$http
          .post('admin/users', {
            uid: self.user.uid,
            name: self.user.name,
            second: self.user.second,
            gender: self.user.gender,
            email: self.user.email,
            phone: self.user.phone,
            blackList: self.user.blackList,
            applicationID: this.$route.params.id
          }, {
            headers: {
              'Authorization': "Bearer " + localStorage.token,
            }
          })
          .then(function (response) {
            let data = response.data.result

            self.data.push({
              id: data.id,
              uid: data.uid,
              name: data.name,
              second: data.second,
              gender: data.gender,
              createdAt: self.format(data.createdAt),
              updatedAt: self.format(data.updatedAt),
            })
            self.modals.createUser = false
          })
          .catch(function (error) {
            self.$notify({
              verticalAlign: 'top',
              horizontalAlign: 'center',
              type: 'danger',
              message: error.response ? error.response.data : 'some error'
            });
          });
      },
      askDelete(index, id) {
        this.$swal({
            title: 'Are you sure?',
            text: 'You want to delete this user?',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
          }
        ).then((result) => {
          if (result.value) {
            const self = this
            let app = self.data[index]
            console.log(app)
            this.$http.delete('admin/users/' + id + '/' + app.applicationID, {
              headers: {
                'Authorization': "Bearer " + localStorage.token,
              }
            }).then(function (response) {
              if (response.data.result) {
                self.data.splice(index, 1)
              }
            })
              .catch(function (error) {
                self.$notify({
                  verticalAlign: 'top',
                  horizontalAlign: 'center',
                  type: 'danger',
                  message: error.response ? error.response.data : 'some error'
                });
              });
          }
        });
      },
    },
    beforeMount() {
      const self = this
      this.$http
        .get('admin/users/' + this.$route.params.id, {
          headers: {
            'Authorization': "Bearer " + localStorage.token,
          }
        })
        .then(function (response) {
          let data = response.data.result

          for (let i in data) {
            self.data.push({
              id: data[i].id,
              uid: data[i].uid,
              name: data[i].name,
              second: data[i].second,
              gender: data[i].gender,
              applicationID: data[i].applicationID,
              createdAt: self.format(data[i].createdAt),
              updatedAt: self.format(data[i].updatedAt),
            })
          }
        })
        .catch(function (error) {
          self.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: error.response ? error.response.data : 'some error'
          });
        });
    }
  };
</script>
<style>
  .pointer{
    cursor: pointer;
  }
</style>
