<template>

</template>

<script>
  export default {
    name: 'dateFormatter',
    data() {
      return {}
    },
    methods: {
      format(dateString) {
        if (dateString) {
          dateString = dateString.split(' ')
          let time = dateString[1].split('.')
          return dateString[0] + '  ' + time[0]
        }
        return dateString
      }
    }
  }
</script>