<template>
  <div></div>
</template>

<script>
  export default {
    methods:{
      notify(error) {
        if (error.response && error.response.status && ![200,201,204,401].includes(error.response.status)) {
          this.$notify({
            verticalAlign: 'top',
            horizontalAlign: 'center',
            type: 'danger',
            message: error.response ? error.response.data.error : 'some error'
          });
        }

      }
    }
  }
</script>