<template>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Or sign up with credentials</small>
                    </div>
                    <form role="form">

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Name"
                                    v-model="name">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Second name"
                                    v-model="second">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Email"
                                    v-model="email">
                        </base-input>

                        <base-input class="input-group-alternative"
                                    placeholder="Password"
                                    type="password"
                                    v-model="password">
                        </base-input>
                        <div class="row my-4">
                            <div class="col-12">
                                <base-checkbox class="custom-control-alternative">
                                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                </base-checkbox>
                            </div>
                        </div>
                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click="send">Create account</base-button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light">
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <router-link to="/login" class="text-light">
                        <small>Login into your account</small>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    data() {
      return {
        name: "",
        second: "",
        email: "",
        password: "",
        accepted: false,
      };
    },
    computed: {
      classObject: function () {
        return {
          active: this.isActive && !this.error,
          'text-danger': this.error && this.error.type === 'fatal'
        }
      }
    },
    methods: {
      send() {
        const self = this
        this.$http
          .post('site/registration', {
            name: self.name,
            second: self.second,
            email: self.email,
            password: self.password
          })
          .then(function (response) {
            self.$router.push({name: "login"})
          })
          .catch(function (error) {
            console.log(error);
            self.$notify({
              verticalAlign: 'top',
              horizontalAlign: 'center',
              type: 'danger',
              message: error.response ? error.response.data : 'some error'
            });
          });
      }
    }
  }
</script>
<style>
</style>
