<template>
        <div class="row justify-content-center">
            <div class="col-md-10">
                 <img src="img/error.jpg"/>
            </div>
        </div>
</template>
<script>
  export default {
    name: 'serverError',
  }
</script>